.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  padding-bottom: 50px;
}

.pagination-list {
  display: flex;
  align-items: center;
  margin: 0 84px;
  padding: 0;
  list-style-type: none;
}
.pagination-list .pagination-item {
  margin-right: 4px;
  border-radius: 7px;
}
.pagination-list .pagination-item.dots {
  background-color: transparent;
}
.pagination-list .pagination-item.active {
  color: #fff;
  background-color: #414BB2;
  opacity: 0.8;
}
.pagination-list .pagination-item.active .pagination-link {
  color: #fff;
}
.pagination-list .pagination-item:last-child {
  margin-right: 0;
}
.pagination-list .pagination-link, .pagination-list .pagination-button, .pagination-list .pagination-link-disabled {
  cursor: pointer;
  position: relative;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 42px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #adb5bd;
  border-radius: 4px;
  border: 1px solid #e9ecef;
}
.pagination-list .pagination-button {
  width: 48px;
  height: 40px;
  background-color: #fff;
}
.pagination-list .pagination-link, .pagination-list .pagination-button {
  text-decoration: none;
}
.pagination-list .pagination-link:hover, .pagination-list .pagination-button:hover {
  color: #fff;
  background-color: #414BB2;
  opacity: 0.6;
}
.pagination-list .pagination-link:hover .pagination-link, .pagination-list .pagination-button:hover .pagination-link {
  color: #fff;
}
.pagination-list .pagination-link:hover .arrow, .pagination-list .pagination-button:hover .arrow {
  border-color: #fff;
}

.fas {
  color: #adb5bd;
}
